/* Reset some default styles */
body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

/* color variables */
:root {
  --rød: #c4262d;
  --lyse-grøn: #9c9e30;
  --mørke-grøn: #737d4a;
  --sort: #4d4d4d;
  --hvid: #ededed;
  --blå: #039ec5;
}

/* Basic styling */
body {
  font-family: Verdana, Arial, sans-serif;
  background-color: #ffffff;
  color: #000000;
}

header {
  color: #ffffff;
  padding: 10px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

footer {
  color: #ffffff;
  text-align: center;
  padding: 10px;
  width: 100%;
}

/* Entry points */

.generel-entry-points {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.entry-point {
  flex: 1;
  width: 468px;
  height: 468px;
  position: relative;
  border-radius: 16px;
}

.entry-points-text-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 255, 0.5);
  text-align: center;
  color: white;
  padding: 10px 0;
}

h2 {
  margin: 0;
}

/* image carousel enkelt dyr */

.carousel {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  overflow: hidden;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-image {
  flex: 0 0 33.333%;
  min-width: 100%;
  background-color: red;
  height: 300px;
}

.carousel-image:nth-child(2) {
  flex: 0 0 50%;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 40px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  z-index: 10;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}
